@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  user-select: none;
  -webkit-user-select: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gurmukhi);
  font-family: Arial, Helvetica, sans-serif;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}
img, body {
  -webkit-user-drag: none;
}



.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
